@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
        --background: 60 26% 96%;
        --foreground: 0 0 0%;
        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;
        --primary: 152 47% 28%;
        --primary-foreground: 210 20% 98%;
        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;
        --ternary: 22 17% 45%;
        --ternary-foreground: 210 20% 98%;
        --gray: 0 0% 20%;
        --gray-dark: 0 0% 13%;
        --gray-darker: 0 0% 7%;
        --muted: 220 14.3% 95.9%;
        /*--muted-foreground: 220 8.9% 46.1%;*/
        --muted-foreground: 0 0% 40%;
        --accent: 60 26% 90%;
        --accent-foreground: 220.9 39.3% 11%;
        --destructive: 0 79% 66%;
        --destructive-foreground: 210 20% 98%;
        --border: 0 0% 89%;
        --input: 60 26% 96%;
        --ring: 0 0% 89%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem
    }

    .dark {
        --background: 224 71.4% 4.1%;
        --foreground: 210 20% 98%;
        --card: 224 71.4% 4.1%;
        --card-foreground: 210 20% 98%;
        --popover: 224 71.4% 4.1%;
        --popover-foreground: 210 20% 98%;
        --primary: 210 20% 98%;
        --primary-foreground: 220.9 39.3% 11%;
        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 210 20% 98%;
        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;
        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 20% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;
        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --ring: 216 12.2% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%
    }
}

@layer base {
    * {
        @apply border-border;
    }

    .container {
        @apply mx-auto;
    }

    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hidden {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}


.flash {
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 1000;
    width: 20rem;
}

.thumbSwiper {
    @apply !mx-0;
}
